/* ===== NORMALIZE =====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== GRID LAYOUT ===== */
.grid {
    display: grid;
}

.main {
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.color-grid,
.font-grid {
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 5px;
}

.text-grid {
    grid-template: repeat(3, 1fr) / 1fr;
    grid-gap: 5px;
    grid-row: 3 / -1;
}

/* ===== BASE STYLES ===== */

h1 {
    text-align: center;
    padding-top: 1em;
}

li {
    list-style: circle;
    list-style-position: inside;
    padding-left: .5em;
}

.main {
    width: 80%;
    margin: auto;
}

.colors {
    background-color: coral;
}

.fonts {
    background-color: lightblue;
}

.text-styles {
    background-color: lightpink;
}