/* ===== NORMALIZE =====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== GRID LAYOUT ===== */
.grid {
    display: grid;
}

.main {
    grid-template-rows: auto 1fr 1fr;
    grid-gap: 5px;
}

.color-grid,
.font-grid {
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 5px;
}

.text-grid {
    grid-template: repeat(3, 1fr) / 1fr;
    grid-gap: 5px;
    grid-row: 3 / -1;
}

/* ===== BASE STYLES ===== */


h1 {
    text-align: center;
    padding: .5em;
}

h2 {
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 1.8em;
}

li {
    list-style: circle;
    list-style-position: inside;
    padding-left: .5em;
}

.main {
    width: 80%;
    margin: auto;
    height: auto;
}

.colors,
.fonts,
.text-styles {
    padding: 1em 5em;
    border: 2px solid gray;
    text-align: left;
}
/* ===== COLORS SECTION ===== */
.swatch-1,
.swatch-2,
.swatch-3,
.swatch-4 {
    width: 70%;
    height: 7em;
    margin: .5em auto;
    padding-top: .8em;
    text-align: center;
}

.swatch-1 {
    background-color: #F7E3D4;
}
.swatch-2 {
    background-color: #FC7307;
}
.swatch-3 {
    background-color: #236AB9;
}
.swatch-4 {
    background-color: #091D34;
    color: white;
}

/* ===== FONTS SECTION ===== */

.font-1 {
    padding-bottom: 1em;
}

.fonts p {
    padding: .5em;
}

.fonts h3 {
    padding-bottom: .5em;
    text-decoration: underline;
    font-size: 1.4em;
}
.font-1 p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}

.font-1 p:nth-child(3) {
    font-weight: bold;
}

.font-1 p:nth-child(4) {
    font-style: italic;
}

.font-2 p {
    font-family: 'PT Sans', sans-serif;
}

.font-2 p:nth-child(3) {
    font-weight: bold;
}

.font-2 p:nth-child(4) {
    font-style: italic;
}
.font-3 p{
    font-family: 'Slabo 27px', serif;
}

.font-3 p:nth-child(3) {
    font-weight: bold;
}

.font-3 p:nth-child(4) {
    font-style: italic;
}

/* ===== TEXT-STYLES SECTION ===== */

.example-head {
    font-family: "Slabo 27px", serif;
    font-weight: 700;
    font-size: 26px;
}

.example-subhead {
    font-family: "Slabo", serif;
    font-size: 21px;
    font-weight: 500;
}

.example-p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.text-styles h3 {
    padding: .5em;
}

.text-styles li {
    padding: .2em;
}